*{
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  --primary:#6639B6;
  --secondary:#dcd4ea;
  --title:#181818;
  --text:#424242;
  --background1:#ffffff;
  --background2:#f1f1f1;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
  width: 6px;
  border-radius: 5px;
}